<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    
    <form action="/new" method="post">
        <label>
            <span>¿Cuál es tu nombre?</span>
            <input type="text" id="nombre"  name="name" placeholder="Tu nombre">
        </label>
        <label >
            <span>Tipo de usuario: </span>
            <select name="type" required>
                <option value="admin">Admin</option>
                <option value="manager" selected>Manager</option>
                <option value="user">User</option>
              </select>
        </label>
        <button type="submit" >Guardar</button>
    </form>

</body>
</html>